# Detekt Configuration for PlatformSense KMP
# https://detekt.dev/docs/introduction/configurations

build:
  maxIssues: 0
  weights:
    complexity: 2
    style: 1
    comments: 1

config:
  validation: true
  warningsAsErrors: false

complexity:
  active: true
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 8
    ignoreDefaultParameters: true
    ignoreDataClasses: true
    ignoreAnnotatedParameter: []
  TooManyFunctions:
    active: true
    thresholdInFiles: 15
    thresholdInClasses: 15
    thresholdInInterfaces: 15
    thresholdInObjects: 15
    thresholdInEnums: 15
    ignoreDeprecated: true
    ignorePrivate: false
    ignoreOverridden: false
  CyclomaticComplexMethod:
    active: true
    threshold: 15
  NestedBlockDepth:
    active: true
    threshold: 4

style:
  active: true
  MaxLineLength:
    active: true
    maxLineLength: 120
    excludePackageStatements: true
    excludeImportStatements: true
    excludeCommentStatements: true
  WildcardImport:
    active: true
    excludeImports:
      - java.util.*
      - kotlinx.android.synthetic.*
  UnusedImports:
    active: true
  UnusedPrivateMember:
    active: true
    allowedNames: "(_|ignored|expected|serialVersionUID)"
  MagicNumber:
    active: true
    excludes: ["**/test/**", "**/androidTest/**", "**/commonTest/**", "**/jvmTest/**", "**/androidUnitTest/**"]
    ignoreNumbers:
      - "-1"
      - "0"
      - "1"
      - "2"
    ignoreHashCodeFunction: true
    ignorePropertyDeclaration: true
    ignoreLocalVariableDeclaration: false
    ignoreConstantDeclaration: true
    ignoreCompanionObjectPropertyDeclaration: true
    ignoreAnnotation: true
    ignoreNamedArgument: true
    ignoreEnums: true
    ignoreRanges: true
    ignoreExtensionFunctions: true
  ReturnCount:
    active: true
    max: 3
    excludedFunctions:
      - "equals"
    excludeLabeled: false
    excludeReturnFromLambda: true
    excludeGuardClauses: true
  ForbiddenComment:
    active: true
    values:
      - "FIXME:"
      - "STOPSHIP:"
    allowedPatterns: ""
    customMessage: ""

naming:
  active: true
  FunctionNaming:
    active: true
    functionPattern: "[a-z][a-zA-Z0-9]*"
    excludes: ["**/test/**", "**/androidTest/**", "**/commonTest/**", "**/jvmTest/**", "**/androidUnitTest/**"]
    excludeClassPattern: "$^"
    ignoreAnnotated:
      - "Composable"
  VariableNaming:
    active: true
    variablePattern: "[a-z][a-zA-Z0-9]*"
    privateVariablePattern: "(_)?[a-z][a-zA-Z0-9]*"
    excludeClassPattern: "$^"
  ClassNaming:
    active: true
    classPattern: "[A-Z][a-zA-Z0-9]*"
  PackageNaming:
    active: true
    packagePattern: "[a-z]+(\\.[a-z][A-Za-z0-9]*)*"
  TopLevelPropertyNaming:
    active: true
    constantPattern: "[A-Z][A-Za-z0-9]*"
    propertyPattern: "[A-Za-z][A-Za-z0-9]*"
    privatePropertyPattern: "_?[A-Za-z][A-Za-z0-9]*"

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - "ArrayIndexOutOfBoundsException"
      - "Error"
      - "IllegalMonitorStateException"
      - "IndexOutOfBoundsException"
      - "NullPointerException"
      - "RuntimeException"
      - "Throwable"
    allowedExceptionNameRegex: "_|(ignore|expected).*"
  SwallowedException:
    active: true
    ignoredExceptionTypes:
      - "InterruptedException"
      - "MalformedURLException"
      - "NumberFormatException"
      - "ParseException"
    allowedExceptionNameRegex: "_|(ignore|expected).*"

empty-blocks:
  active: true
  EmptyCatchBlock:
    active: true
    allowedExceptionNameRegex: "_|(ignore|expected).*"
  EmptyFunctionBlock:
    active: true
    ignoreOverridden: true

potential-bugs:
  active: true
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  UnreachableCode:
    active: true
  UnsafeCallOnNullableType:
    active: true
  UselessPostfixExpression:
    active: true

performance:
  active: true
  SpreadOperator:
    active: true
    excludes: ["**/test/**", "**/androidTest/**", "**/commonTest/**", "**/jvmTest/**", "**/androidUnitTest/**"]
